body {
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

canvas {
  image-rendering: pixelated;
  width: 480px;
  height: 320px;
  border: 4px solid #555;
  margin-top: 10px;
}

#controls {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.dpad button,
.buttons button {
  font-size: 20px;
  padding: 15px;
  margin: 5px;
  background: #333;
  color: white;
  border: none;
  border-radius: 10px;
}

button:active {
  background: #666;
}

